# Streamlit
streamlit==1.26.1

# TensorFlow CPU for Python 3.13
tensorflow-cpu==2.20.0

# NumPy (required by TensorFlow 2.20)
numpy>=1.26.0

# Audio & plotting
librosa==0.10.1
matplotlib==3.8.0

# PDF report
fpdf==1.7.2

# Build tools to fix distutils errors
setuptools>=68.0.0
wheel>=1.0.0
